.header {
  display: flex;
  height: 72px;
  background-color: rgb(252, 252, 252);
  padding: 0 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 40px;
  }
}
