.footer {
  height: 400px;
  background-color: rgb(0, 0, 0);
  margin: 20px 80px;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  margin: 80px 150px;
}

.footer .footer-link,
.footer .footer-faq,
.footer .footer-social,
.footer .footer-other {
  width: 25%;
}

.footer .footer-item {
  margin: 30px 0;
}

.footer .footer-item a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-other {
  display: flex;
  flex-direction: column;
}

.footer .footer-other h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.footer .footer-other p {
  color: #fff;
}

.footer .footer-other input {
  width: 100%;
  font-size: 14px;
  padding: 5px 15px;
  margin-top: 15px;
  background-color: #000;
  color: #fff;
  border: tomato 5px solid;
  outline: none;
}

.footer .footer-other input::placeholder {
  color: #fff;
}

.footer .footer-other button {
  width: 100%;
  padding: 10px 15px;
  margin-top: 8px;
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .footer {
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  .footer-container {
    margin: 0;
    flex-direction: column;
    font-size: 20px;
  }

  .footer .footer-link,
  .footer .footer-faq,
  .footer .footer-social,
  .footer .footer-other {
    width: 100%;
    text-align: center;
  }

  .footer .footer-other input {
    width: 80%;
    border: #fff 2px solid;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .footer .footer-other button {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 481px) {
  .footer {
    margin: 20px 40px;
  }

  .footer-container {
    margin: 50px;
  }
}
